/* Add CSS styles for your web site here and use them in index.html. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

nav {
    background-color: green;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 40px;
    flex-wrap: wrap;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover{
    background-color: rgb(0, 171, 31);
    border-radius: 8px;
}

main {
    text-align: center
}

#title {
    text-align: center;
    padding: 10px;
}

#text {
    text-align: center;
    padding-bottom: 8px;
}

#btnBox {
    text-align: center;
    padding: 10px;
}

footer {
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 20px;
    text-align: center;
}

/* tic tac toe */
#board {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 375px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*???*/
    grid-gap: 5px;
}

.square {
    width: 120px;
    height: 120px;
    border: 1px solid #D3D3D3;
    background-color: #F5F5F5;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.square:hover {
    background-color: #FFFFE0;
}

#restartButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 150px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 40px;
    font-size: 18px;
    padding: 10px
}

#restartButton:hover {
    background-color: #000000;
    color: #FFFFFF;
}

/* essentially page wrapper */
#endGame {
    padding-bottom: 10px;
}
